<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title> BookYourHotel </title>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/dist/jquery.scrollUp.js"></script>
  <script type="text/javascript" src="/dist/slick.js"></script>
  <script type="text/javascript" src="/dist/demo.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/slick.css">
  <link rel="icon" type="image/x-icon" href="/images/fevicon2.ico">


</head>

<body>
  <header class="tm-header">
    <img class="logo" src="images/byh4.PNG" alt="BookYourHotel" width="10%" height="13%">


    <img class="tm-logo" src="images/byh4.PNG" alt="Hotel_logo" alt="BookYourHotel">
    <nav class="tm-nav">
      <div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/explore.html">Explore </a></li>
          <li><a href="/rooms.html">Rooms</a></li>
          <li><a href="/bb.html">Booking</a></li>
          <li><a href="/contact.html">Contact</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">SignUp</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <section class="tm-imgslider">

    <div class="slider single">
      <div>
        <div class="tm-slider"><img class="tm-sliderimage" src="images/main_slider11.png" alt="BookYourHotel">
          <div class="tm-slidertext">
            <p class="bold"> Experience </p>
            <p class="simple">The Beauty and ambience </p>
            <p class="simple">All in one place </p>
          </div>
        </div>
      </div>
      <div>
        <div class="tm-slider"><img class="tm-sliderimage" src="images/main_slider12.png" alt="BookYourHotel">
          <div class="tm-slidertext">
            <p class="bold"> Experience </p>
            <p class="simple">The tranquility </p>
            <p class="simple">in hotel spa and swimming pools </p>
          </div>
        </div>
      </div>
      <div>
        <div class="tm-slider"><img class="tm-sliderimage" src="images/main_slider13.png" alt="BookYourHotel">
          <div class="tm-slidertext">
            <p class="bold"> Experience </p>
            <p class="simple">The luxurious interiors </p>
            <p class="simple">in every hotel room </p>
          </div>
        </div>
      </div>
      <div>
        <div class="tm-slider"><img class="tm-sliderimage" src="images/main_slider14.png" alt="BookYourHotel">
          <div class="tm-slidertext">
            <p class="bold"> Experience </p>
            <p class="simple">The mesmerizing beach view </p>
            <p class="simple">from your room's balcony</p>
          </div>
        </div>
      </div>

    </div>
    <img src="images/back.png" class="left">
    <img src="images/next.png" class="right">
  </section>

  <section class="slider room flex">

    <div class="tm-rooms">
      <img src="images/luxury.png">
      <a href="rooms.html">
        <p class="s">Luxury Suite</p>
      </a>
    </div>
    <div class="tm-rooms">
      <img src="images/delux.png">
      <a href="rooms.html">
        <p class="s">Delux Suite</p>
      </a>
    </div>
    <div class="tm-rooms">
      <img src="images/premier.png">
      <a href="rooms.html">
        <p>Premier Suite</p>
      </a>
    </div>
    <div class="tm-rooms">
      <img src="images/luxuryroom.png">
      <a href="rooms.html">
        <p class="s">Luxury Room</p>
      </a>
    </div>
    <div class="tm-rooms">
      <img src="images/deluxroom.png">
      <a href="rooms.html">
        <p>Delux Room</p>
      </a>
    </div>
    <div class="tm-rooms">
      <img src="images/premiumroom.png">
      <a href="rooms.html">
        <p>Premier Room</p>
      </a>
    </div>

  </section>


  <section class="tm-servicesection">

    <div class="tm-service">
      <img class="tm-serimage" src="images/customer.jpeg">
      <div>
        <p class="b">Customer Support</p>
        <p> We provide 24x7 customer support </p>
      </div>
    </div>
    <div class="tm-service">
      <img class="tm-serimage" src="images/fastbooking.jpeg">
      <div>
        <p class="b"> Fast Booking </p>
        <p> Feel free to book hotel anytime, anywhere in no time </p>
      </div>
    </div>

  </section>

  <section class="tm-servicesection">

    <div class="tm-service">
      <img class="tm-serimage" src="images/bestoffers.jpeg">
      <div>
        <p class="b"> Best Offers </p>
        <p> Book your hotel at best prices and offers </p>
      </div>
    </div>
    <div class="tm-service">
      <img class="tm-serimage" src="images/secure.jpeg">
      <div>
        <p class="b"> Secure Booking </p>
        <p> Keep your data secure and safe with us </p>
      </div>
    </div>

  </section>

  <section class="tm-reviewsection">

    <div class="tm-review ">
      <div class="slider review">

        <div class="tm-revcon">
          <p class="b"> Reviews</p>
          <div class="tm-stars">
            <img src="images/star.png">
            <img src="images/star.png">
            <img src="images/star.png">
            <img src="images/star.png">
            <img src="images/star.png">
          </div>
          <div class="tm-rev">
            <p> Great site, I am recommending it to everyone. Wished i know about it before.</p> <br />
            <p> Aakash Gupta &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Tripster</p>
          </div>
        </div>

        <div class="tm-revcon">
          <p class="b"> Reviews</p>
          <div class="tm-stars">
            <img src="images/star.png">
            <img src="images/star.png">
            <img src="images/star.png">
            <img src="images/star.png">
          </div>
          <div class="tm-rev">
            <p> Nice Hotel Booking site, I had a wonderful experience and there are plenty of offers. </p> <br />
            <p> Tejas Dangi &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Visitor</p>
          </div>
        </div>

        <div class="tm-revcon">
          <p class="b"> Reviews</p>
          <div class="tm-stars">
            <img src="images/star.png">
            <img src="images/star.png">
            <img src="images/star.png">
            <img src="images/star.png">
            <img src="images/star.png">
          </div>
          <div class="tm-rev">
            <p> Great site, Great offer and easy booking. </p> <br />
            <p> John Jerry &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Actor</p>
          </div>
        </div>

        <div class="tm-revcon">
          <p class="b"> Reviews</p>
          <div class="tm-stars">
            <img src="images/star.png">
            <img src="images/star.png">
            <img src="images/star.png">
            <img src="images/star.png">
          </div>
          <div class="tm-rev">
            <p> Very nice hotel booking site, I recommend it. </p> <br />
            <p> Raja Swami &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Traveller</p>
          </div>
        </div>

        <div class="tm-revcon">
          <p class="b"> Reviews</p>
          <div class="tm-stars">
            <img src="images/star.png">
            <img src="images/star.png">
            <img src="images/star.png">
            <img src="images/star.png">
            <img src="images/star.png">
          </div>
          <div class="tm-rev">
            <p> Nice, easy and good price just the way I like it. </p> <br />
            <p> Mona Lisa &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Tripster</p>
          </div>
        </div>

        <div class="tm-revcon">
          <p class="b"> Reviews</p>
          <div class="tm-stars">
            <img src="images/star.png">
            <img src="images/star.png">
            <img src="images/star.png">
            <img src="images/star.png">
            <img src="images/star.png">
          </div>
          <div class="tm-rev">
            <p> Very good hotel booking site.Easy to find hotel in new places </p> <br />
            <p> Chris Stoke &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Visitor</p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="tm-makeres">
    <div class="tm-res">
      <div class="tm-resbutton">
        <a href="bb.html">
          <p>Make Reservation</p>
        </a>
      </div>
    </div>
  </section>

  <footer class="tm-footer">

    <div class="tm-us">
      <p class="bold">About Us</p>
      <p>
        We are a part of chain of best booking site,
        which extends all over the world. We
        provide a luxurious booking service with various value
        added and best offers, which will make
        you visit us over and over again.
      </p>
    </div>

    <div class="tm-address">
      <p class="bold">Address</p>
      <p>LNCT, Bhopal</br>
        Phone : 890789089</br>
        Email : byh@info.com</p>
    </div>
    <br />

    <div class="tm-media">
      <a href="https://www.facebook.com/chandresh.sahu.528" title="facebook"> <img src="images/fb.png"></a>
      <a href="index.html" title="Google"> <img src="images/G.png"> </a>
      <a href="https://twitter.com/ChandreshSsss" title="Twitter"> <img src="images/twittr.png"> </a>
      <a href="https://www.instagram.com/p/Cfi9Jt8vysRr1tVHxbq5vxCJFjaAUcOR7OtMMo0/?igshid=YmMyMTA2M2Y="
        title="Instagram"> <img src="images/insta.png"> </a>
    </div>

    <div class="copy">
      © Copyright 2021-2022 <a class="abc" href="#">www.bookyourhotel.com</a>. All Rights Reserved. Developed
      by <a class="abc" href="#"> Abc.Pvt.Ltd </a>
    </div>

  </footer>


</body>

</html>